{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">

        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }}  {{user.last_name}}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <small><a href="{% url 'update_profile' %}">Edit your profile</a></small>
        <small class="ml-4"><a href="{% url 'device_registration' %}">Add a device</a></small>
        <div class="device-information">
          <h5>{{ device_device.device_nickname }} is currently registered to this account</h5>
          <small><a href="http://192.168.1.104:1880/ui/">View your device</a></small>
        </div>
{% endblock %}
